/* Reset some default styles */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: retro;
  src: url(retro.otf);
}

@font-face {
  font-family: milky;
  src: url(MilkyVintage-Regular.ttf);
}

@font-face {
  font-family: Mekon;
  src: url(Mekon-Gradient.ttf);
}

@font-face {
  font-family: AirAmericana;
  src: url(AirAmericanaDEMO-Bold.ttf);
}




html {scroll-behavior: smooth;}

body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Georgia;
    margin: 0;
    padding: 0;
    background-color: #ebc8b9;
    color: #333;
}

header {
    position: relative;
    background-image: url('../img/navtexture.jpg');
    color: rgb(218, 138, 92);
    padding: 1rem;
    width: 100%;
    box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.19);
}

.underline-hover {
  display: inline-block;
  text-decoration: none;
  color: #ffeded;
  position: relative;
  padding-bottom: 2px;
}

.underline-hover::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.underline-hover:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#active {
  text-decoration: underline;
  text-underline-offset: 4.5px;
  border-bottom: 1px solid #ffeded;
}

.logo img {
    max-width: 10rem;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}


nav a {
    text-decoration: none;
    color: #e9ded1;
    font-weight: bold;
    font-size: 1rem;
    transition: color 0.3s;
}

nav a:hover {
    color: #68321f;

}

.hero {
    text-align: center;
    padding: 7rem 0;
    background-image: url('../img/hero-bg1.jpg');
    background-size: cover;
    color: white;
}

.hero h1 {
  font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    margin-bottom: 20px;
    text-shadow: 2px 2px 3px #ffc508;
}

.hero p {
    font-family: Georgia;
    font: bolder;
    font-size: 1rem;
    margin-top: -1rem;
    margin-bottom: 40px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #dad8d0;
    border: 1px;
    border-style: solid;
    border-color: #a22b2b;
    color: #2b1c1c;
    text-decoration: none;
    border-radius: 10px;
    font-size: 1rem;
}

.cta-button:hover {
    background-color: rgba(219, 219, 214, 0.2) ;
    color: #ccc;
    border-color: #ccc;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.19);
}

.featured {
  background-image: url('../img/featuredtexture.jpg')
}

.tag {
  font-family: Georgia;
  font-size: 1rem;
  font: bolder;
  text-align: center;
  padding-bottom: 3rem; 
  text-shadow: 2px 2px 3px #db985c;
}

.tag span {
  color: #b45555;
}


.sign {
  position: relative;
  display: flex;
  margin-top: 2rem;
  margin-bottom: -1rem;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  background-image: radial-gradient(
    ellipse 50% 35% at 50% 50%,
    #6b4618,
    transparent
  );
  transform: translate(-50%, -50%);
  letter-spacing: 2;
  left: 50%;
  top: 50%;
  font-family: retro;
  text-transform: uppercase;
  font-size: 4em;
  color: #ffe6ff;
  text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #f7cc94,
    -0.2rem 0.1rem 1rem #ffb765, 0.2rem 0.1rem 1rem #ffc165,
    0 -0.5rem 2rem #ff9524, 0 0.5rem 3rem #ffb224;
  animation: shine 2s forwards, flicker 3s infinite;
}

@keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ffce65,
      -0.2rem 0.1rem 1rem #ffd665, 0.2rem 0.1rem 1rem #ffe365,
      0 -0.5rem 2rem #ffb624, 0 0.5rem 3rem #ffb624;
  }
  28%,
  33% {
    color: #ffa065;
    text-shadow: none;
  }
  82%,
  97% {
    color: #ff8724;
    text-shadow: none;
  }
}

.flicker {
  animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
  animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes shine {
  0% {
    color: #6b1839;
    text-shadow: none;
  }
  100% {
    color: #fffbe6;
    text-shadow: 0 0 0.6rem #fff8e6, 0 0 1.5rem #ffc965,
      -0.2rem 0.1rem 1rem #ffce65, 0.2rem 0.1rem 1rem #ffc165,
      0 -0.5rem 2rem #ff9524, 0 0.5rem 3rem #ffa724;
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}


.container {
    padding: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 20rem;
    gap: 10px;
    

  
    > div {
      flex: 0 0 120px;
      border-radius: 0.5rem;
      transition: 0.5s ease-in-out;
      cursor: pointer;
      box-shadow: 1px 5px 15px #db8052;
      position: relative;
      overflow: hidden;
      
  
      &:nth-of-type(1) {
        background: url("../img/cheese-cake.jpg")
          no-repeat 50% / cover;
      }
      &:nth-of-type(2) {
        background: url("../img/Latte.png")
          no-repeat 50% / cover;
      }
      &:nth-of-type(3) {
        background: url("../img/croissant.jpg")
          no-repeat 50% / cover;
      }
      &:nth-of-type(4) {
        background: url("../img/hot-chocolate.jpg")
          no-repeat 50% / cover;
      }
      &:nth-of-type(5) {
        background: url("../img/tiramisu.jpg")
          no-repeat 50% / cover;
      }
  
      .content {
        font-size: 1rem;
        color: #fff;
        display: flex;
        align-items: center;
        padding: 15px;
        opacity: 0;
        flex-direction: column;
        height: 100%;
        justify-content: flex-end;
        background: rgb(2, 2, 46);
        background: linear-gradient(
          0deg,
          rgba(218, 137, 78, 0.676) 0%,
          rgba(207, 132, 85, 0) 100%
        );
        transform: translatey(100%);
        transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
        visibility: hidden;

  
        span {
          display: block;
          margin-top: 5px;
          font-size: 1.2rem;
        }

        
      }
  
      &:hover {
        flex: 0 0 250px;
        box-shadow: 1px 3px 15px #e6a074;
        transform: translatey(-30px);
      }
  
      &:hover .content {
        opacity: 1;
        transform: translatey(0%);
        visibility: visible;
      }
    }
  }


.menu {
  padding: 100px 0;
  text-align: center;
  background-image: url('../img/bricktexture.png');
  color: #fce4e4;
  
}

.menu h2 {
  font-size: 4rem;
  margin-bottom: 20px;
  padding-top: -5rem;
  margin-top: -5rem;
  text-shadow: 5px 5px 5px #1e1703;
}
  


.menu-item {
  display: inline-block;
  width: 300px;
  margin: 20px;
  padding: 20px;
  background-color: #daa379;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
  color: #2b1c1c;

  &:hover {
    flex: 0 0 250px;
    box-shadow: 1px 3px 15px #e6a074;
    transform: translatey(-30px);
  }

  &:hover .content {
    opacity: 1;
    transform: translatey(0%);
    visibility: visible;
  }
}

.menu-item:hover {
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
}

.menu-item img {
  max-width: 100%;
}
.menu h3 {
  font-size: 2rem;
}

.about {
  padding: 100px 0;
  text-align: center;
  background-image: url('../img/bricktexture.png');
  color: #fce4e4;
}

.about h2 {
  font-size: 4rem;
  margin-bottom: 20px;
  padding-top: -5rem;
  margin-top: -5rem;
  text-shadow: 5px 5px 5px #1e1703;
}

.bio {
  display: inline-block;
  width: 300px;
  margin: 2rem;
  padding: 20px;
  background-color: #daa379;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
  color: #2b1c1c;
  position: sticky;

  &:hover {
    flex: 0 0 250px;
    box-shadow: 1px 3px 15px #e6a074;
    transform: translatey(-30px);
  }

  &:hover .content {
    opacity: 1;
    transform: translatey(0%);
    visibility: visible;
  }

}

.bio:hover {
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
}

.bio img {
  max-width: 100%;
}

.about h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.about h3 {
  font-size: 1.5rem;
  margin: 2rem;
}

.about p {
    font-size: 18px;
    max-width: 800px;
    margin: 0 auto;
}

.contact {
    padding: 100px 0;
    text-align: center;
    background-image: url(../img/bricktexture.png);
    color: white;

}

.contact h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.contact p {
    font-size: 18px;
    margin-bottom: 40px;
}


iframe {
  width: 50%;
  border-radius: 10px;
  position: relative;
}

/* Style inputs */
.contact [type=text], select {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-flexbox;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Style the submit button */
.contact input[type=submit] {
  width: 20%;
  background-color: #f3c29d;
  color: rgb(103, 21, 21);
  display: inline-block;
  padding: 14px 20px;
  margin: 8px 0;
  border: solid;
  border-radius: 4px;
  cursor: pointer;
}

/* Add a background color to the submit button on mouse-over */
.contact input[type=submit]:hover {
  background-color: rgba(218, 137, 78, 0.676);

  color: #ccc;
}

.contact .location {
  margin-top: 10rem;
}

#feedback {
  margin-top: 10rem;
}

.icon {
  flex-direction: column;
  width: 2rem;
  margin: .5rem;
}



footer {
    background-color: #4c3c32;
    color: white;
    text-align: center;
    font-size: 1rem;
    padding: 20px 0;
}

footer div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

footer form p {
  font-size: 1rem;
  
}

footer ul {
  margin-bottom: 10px;
}

footer ul li {
  display: inline;
  
}

footer input {
  border-radius: 3px;
  font-size: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 5px;
  background-color: #f3c29d;
  color: #100802;
  border: none;
}


